<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{##}
{##}
{#<h2>index 页面。。。</h2>#}
{##}
{##}
{#<a href="/logout/">注销</a>#}

<div data-v-56ad6472="" class="task_manager_menu_group_layout"><ul data-v-56ad6472="" class="ivu-menu ivu-menu-light ivu-menu-vertical" style="width: 240px;"><li data-v-56ad6472="" class="ivu-menu-item"><i data-v-56ad6472="" class="ivu-icon ivu-icon-ios-paper"></i>
          添加视频
        </li><li data-v-56ad6472="" class="ivu-menu-submenu"><div class="ivu-menu-submenu-title"><i data-v-56ad6472="" class="ivu-icon ivu-icon-ios-people"></i>
            任务管理
           <i class="ivu-icon ivu-icon-ios-arrow-down ivu-menu-submenu-title-icon"></i></div> <ul class="ivu-menu" style="display: none;"><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">
            人脸识别
            <!----><span data-v-56ad6472="" class="redReadusInfo">99+</span></li><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">
            人脸布控
            <!----><span data-v-56ad6472="" class="redReadusInfo">99+</span></li><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">
            特征检索
            <!----><span data-v-56ad6472="" class="redReadusInfo">99+</span></li><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">
            特征布控
            <!----><span data-v-56ad6472="" class="redReadusInfo">23</span></li><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">图片裁剪</li><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">视频摘要</li></ul></li><li data-v-56ad6472="" class="ivu-menu-item"><i data-v-56ad6472="" class="ivu-icon ivu-icon-md-videocam"></i>
          国标设备
        </li><li data-v-56ad6472="" class="ivu-menu-submenu ivu-menu-item-active ivu-menu-opened ivu-menu-child-item-active"><div class="ivu-menu-submenu-title"><i data-v-56ad6472="" class="ivu-icon ivu-icon-ios-basketball"></i>
            网络
           <i class="ivu-icon ivu-icon-ios-arrow-down ivu-menu-submenu-title-icon"></i></div> <ul class="ivu-menu" style="" data-old-padding-top="" data-old-padding-bottom="" data-old-overflow=""><li data-v-56ad6472="" class="ivu-menu-item ivu-menu-item-active ivu-menu-item-selected" style="padding-left: 43px;">国标配置</li></ul></li><li data-v-56ad6472="" class="ivu-menu-submenu"><div class="ivu-menu-submenu-title"><i data-v-56ad6472="" class="ivu-icon ivu-icon-md-build"></i>
            系统
           <i class="ivu-icon ivu-icon-ios-arrow-down ivu-menu-submenu-title-icon"></i></div> <ul class="ivu-menu" style="display: none;"><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">系统维护</li><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">用户管理</li><li data-v-56ad6472="" class="ivu-menu-item" style="padding-left: 43px;">安全设置</li></ul></li></ul></div>

</body>
</html>